<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goto</title>
    <style>
        my_div{
            top: 100px;
            left:100px;
        }
    </style>
</head>
<body background="static/images/img_1.png"
      style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;"
>

<div class="my_div">


    <br>

</div>
        <div id="header">

            <h1 style="margin-bottom: 0;text-align: center;">请选择你需要的功能</h1>
        </div>

        <div id="preview" style="width: 960px;height: 940px;float: left">
            <h1 style="text-align: center;margin-top: 30px"><p> <a href="{{ url_for('upload') }}" rel="external nofollow" >从本地选择图片</a></p> </h1>


        </div>

        <div id="result" style="width: 920px;height: 940px;float: left">
            <h1 style="text-align: center;margin-top: 30px"><p> <a href="{{ url_for('video') }}" rel="external nofollow" >从摄像头获取图片</a></p></h1>

        </div>
</body>
</html>